courses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="courses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="instructor" type="xs:string"/>
              <xs:element name="description" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CourseDetails" type="xs:string"/>
                  <xs:element name="InstructorDetails" type="xs:string"/>
                  <xs:element name="CourseCurriculum">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Module" type="xs:string" maxOccurs="unbounded">
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                    </xs:element>
                    <xs:element name="duration" type="xs:string"/>
                    <xs:element name="price" type="xs:string"/>
                    <xs:element name="rating" type="xs:float"/>
                </xs:sequence>
              </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>